@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #F6F8F6 url("../img/background.svg") no-repeat center center fixed;
}
.container {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 20px;
}